html, body {
  height: 100%;
}

a {
  cursor: pointer;
}

body {
  background-color: #dedede;
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  min-height: 1600px;
}
nav {
  height: 64px;
  width: 100%;
  background-color: indigo;
}
.hero-banner {
  width: 100%;
  height: 600px;
  background: url('hero-banner.jpg') 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-banner .welcome-text {
  font-family: 'Dancing Script', cursive;
  color: white;
  padding-top: 62px;
  margin-left: 235px;
  font-size: 4.1em;
  
}
#tracks-container {
  max-width: 1000px;
  min-height: 600px;
  margin: 15px auto;
}
.choose-view {
  display: block;
  text-align: center;
}
.choose-view li {
  display: inline;
  padding: 0 10px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
  color: indigo;
}
.choose-view li.selected {
  text-decoration: underline;
}

h1, strong {
  color: indigo;
}

input[type=search] {
  width: 64%;
  height: 35px;
  border: 0;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 10px 10px 30px;
  font-size: 24px;
  padding-left: 10px;
  display: inline-block;
}


input[type=search]:focus {
  background: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1016px) {
  #tracks-container {
    text-align: center;
  }
}

/* 
.choose-view li:not(:last-child)::after {
  content: ' - '
} */

.logo {
  text-transform: capitalize;
  font-family: 'Dancing Script', cursive;
  display: inline-block;
  font-size: 33px;
  color: white;
  font-weight: bold;
  padding-left: 50px;
}

.logo a, .logo a:visited, .logo a:active {
  display: inline-block;
  font-size: 33px;
  color: white;
  text-decoration: none;
  padding-top: 7px;
}

nav a, nav a:visited, nav a:active {
  font-size: 22px;
  padding-right: 26px;
  padding-top: 15px;
  color: white;
}
nav a.right, nav a.right:visited, nav a.right:active {
  float: right;
  display: none;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid indigo; /* Blue */
  border-radius: 50%;
  width: 33px;
  height: 33px;
  animation: spin 0.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-friend {
  text-align: center;
}

.search-friend label {
  color: indigo;
  font-weight: bold;
  margin: 3px;
}

.search-friend input {
  border-radius: 3px;
  width: 300px;
  height: 26px;
  border: 0;
  -webkit-appearance: listitem;
  margin: 5px;
}